body {
    font-size: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color: rgb(242, 248, 250);;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(4, 13, 129, 0.5);
    padding: 20px;
    max-width: 600px;
}

#resume-display {
    margin: auto;
    background-color: rgb(242, 248, 250);;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(4, 13, 129, 0.5);
    padding: 20px;
    max-width: 600px;
    text-align: center;
    border: 2px solid skyblue; 
    outline: none;
}

#resume-display h3 {
    color: black;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid rgb(45, 66, 219);
    border-radius: 8px;
    margin-top: 20px;
    background-color: rgb(240, 244, 255);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;
}

input, textarea {
    margin-top: 10px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid rgb(10, 63, 210);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}

button :hover{
    color: blue;
}

